.detailCourseCardContainer {
    row-gap: 60px;
    column-gap: 30px;
}

.headContainer {
    color: #06241B;
    margin-top: 75px;
    margin-bottom: 25px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    align-items: center;
}

.headContainer h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

.filterItem {
    color: #1F1F39;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    padding: 10px 13px 10px;
    border: 1px solid #252570;
    border-radius: 24px;
    white-space: nowrap;

}

.filterItem.active {
    background-color: #252570;
    color: white;
}

@media only screen and (max-width: 1200px) {
    .headContainer {
        flex-direction: column-reverse;
        align-items: start;
        margin-top: 20px;
    }

    .filterContainer {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 770px) {
    .headContainer h1 {
        font-size: 20px;
    }

    .filterItem {
        font-size: 12px;
        width: 100%;
    }

    .filterContainer {
        width: 100%;
        overflow-x: scroll;
    }

    .detailCourseCardContainer {
        row-gap: 20px;
    }
}